@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #d9df85;
  --primary-foreground: #000000;
  --secondary: #fffbf3;
  --secondary-foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --highlight: #bec36c;
  --muted-foreground: #868686;
  --input: #e4e1d1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foregorund);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-highlight: var(--highlight);
  --color-muted-foreground: var(--muted-foreground);
  --color-input: var(--input);

  --font-nunito: var(--font-nunito);
  --font-fleur: var(--font-fleur);
}

@layer base {
  body {
    @apply min-h-svh bg-background text-foreground font-nunito flex flex-col overscroll-none;
  }
  main {
    @apply flex-1;
  }
  h1 {
    @apply text-5xl lg:text-[70px] font-fleur;
  }
}

@layer components {
  .app_container {
    @apply max-w-[1440px] w-full px-4 md:px-12 lg:px-25 mx-auto;
  }
}
